/* UART configuration for MIDI output */

/* Reconfigure GPIO forwarder to forward P1.5, P1.4, P1.7, P1.6 to network core */
&gpio_fwd {
	status = "okay";
	uart {
		gpios = <&gpio1 5 0>, <&gpio1 4 0>, <&gpio1 7 0>, <&gpio1 6 0>;
	};
};

/* Override UART0 pinctrl - TX and RX swapped: TX=P1.8, RX=P1.9, RTS=P1.10, CTS=P1.11 */
&pinctrl {
	uart0_default: uart0_default {
		group1 {
			psels = <NRF_PSEL(UART_TX, 1, 8)>,
				<NRF_PSEL(UART_RTS, 1, 10)>;
		};
		group2 {
			psels = <NRF_PSEL(UART_RX, 1, 9)>,
				<NRF_PSEL(UART_CTS, 1, 11)>;
			bias-pull-up;
		};
	};

	uart0_sleep: uart0_sleep {
		group1 {
			psels = <NRF_PSEL(UART_TX, 1, 8)>,
				<NRF_PSEL(UART_RX, 1, 9)>,
				<NRF_PSEL(UART_RTS, 1, 10)>,
				<NRF_PSEL(UART_CTS, 1, 11)>;
			low-power-enable;
		};
	};
};

&uart0 {
	status = "okay";
	current-speed = <31250>;  /* MIDI baud rate */
};

/* Disable UART1 to avoid pin conflict with UART0 */
&uart1 {
	status = "disabled";
};
